.h {
}
.h > .w {
	display: grid;
	grid-template-areas:
		"logo			menu";
	grid-template-columns:
		var(--menu_width)	1fr;
	gap: var(--gap);
	padding: var(--gap);
	align-items: center;
	border-bottom: solid 1px #ccc;
	min-height: 88px;
}
.h-logo {
	grid-area: logo;
	font-size: 33px;
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: -2px;
	line-height: 1em;
	margin-top: -0.2em;
	color: blue;
}
.h-logo a[href], 
.h-logo a:visited {
	color: inherit;
}
.h-menu {
	grid-area: menu;
	font-size: var(--sfont_size);
}
.h-menu ul {
	display: flex;
	gap: var(--gap);
	margin: 0;
	padding: 0;
	list-style: none;
}
.h-menu li a {
	display: inline-block;
	margin: -5px;
	padding: 5px;
}
.h-menu > ul > li {
}
.h-menu a[href] {
	color: inherit;
}
.h-menu-burger-btn {
	display: none;
}

@media screen and (max-width: 640px) {
	.h-menu {
		justify-self: end;
	}
	.h-menu-burger-btn {
		display: block;
		margin: -7px 0;
		width: 30px;
		cursor: pointer;
	}
	.h-menu-burger-btn-i {
		display: block;
		margin: 7px 0;
		height: 3px;
		background: #333;
	}
	.h-menu-popup {
		display: none;
	}
	.h-menu.show .h-menu-popup {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 999;
		background: rgb(0 0 0 / 20%);
	}
	.h-menu.show .h-menu-popup-cnt {
		display: flex;
		flex-direction: column;
		gap: 10px;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 100px;
		background: #fff;
		box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
		padding: 30px 20px 30px 30px;
		overflow: auto;
	}
	.h-menu.show .sub_menu {
		margin-top: 0;
		margin-bottom: 20px;
		padding-right: 0;
		padding-left: 10px;
		font-size: 0.95em;
	}
	.h-menu.show ul {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.h-menu.show .sub_menu ul {
		gap: 0px;
	}
}
