.m {
	flex-grow: 1;
}
.m > .w {
	height: 100%;
}
.m > .w.cnt {
	max-width: 920px;
}

.m-2col {
	display: grid;
	grid-template-columns:
		var(--menu_width)	minmax(0, var(--cnt_width));
	height: 100%;
	gap: var(--gap);
	padding-left: var(--gap);
}
.m-2col-col1 {
	margin-bottom: -112px;
	z-index: 1;
	border-right: solid 1px #ccc;
}
.m-2col-col2 {
/*
	padding-left: calc(var(--menu_width) + var(--gap) * 2);
	width: var(--cnt_width);*/
}

.sub_menu {
	--mgap: 12px;
	margin-top: calc(var(--mgap) * -1);
	padding-right: 15px;
	font-size: var(--sfont_size);
/*
	line-height: 1.5em;*/
}
.sub_menu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sub_menu ul ul {
	padding: 0 0 0 var(--mgap);
	list-style: none;
}
.sub_menu li {
	margin: var(--mgap) 0 0 0;
}
.h-menu a,
.sub_menu a {
	display: inline-block;
	margin: -5px;
	padding: 5px;
	color: blue;
}
.h-menu a[href],
.sub_menu a[href] {
	color: inherit;
}
/*
.sub_menu ul ul .cd {
	font-size: 1.1em;
}*/
.sub_menu .descr {
	display: block;
	font-size: var(--sfont_size);
/*
	line-height: 1em;*/
}
.sub_menu a[href] .descr {
	color: #555;
}
.sub_menu a .descr {
	color: inherit;
}

.cd {
	font-family: monospace;
	background: beige;
}
.cnt a[href] {
	color: midnightblue;
}
.cnt h2 > a[href],
.cnt h3 > a[href] {
	color: black;
}
.nr {
	font-style: italic;
	background: lavender;
	color: #666;
}
.cnt sup,
.sup {
	vertical-align: super;
	font-size: smaller;
}
.cnt sup::before,
.sup::before {
	content: "[";
}
.cnt sup::after,
.sup::after {
	content: "]";
}
.code {
	display: block;
	padding: 10px 10px 10px 20px;
	border-left: solid 2px #ccc;
	white-space: pre;
	overflow: auto;
}
.info {
	display: block;
	padding: 20px;
	background: aliceblue;
	border-left: solid 2px #ccc;
}
.info > ul {
	margin-left: -22px;
}
.footnote {
	padding: 0 10px;
	font-size: var(--sfont_size);
/*
	line-height: 1.2em;*/
	border-left: solid 2px #ccc;
}
/*
.cnt h1 {
	margin: 0.67em 0;
}
.cnt h2 {
	margin: 1.5em 0 0.87em 0;
}*/
.p,
.cnt p {
	margin: 1em 0;
}
/*
.cnt h1,
.cnt h2,
.cnt h3,
.cnt h4,
.cnt p {
}*/
.cnt ul {
	--left_gap: 40px;
	display: block;
	list-style-type: disc;
	margin: 1em 0;
	padding: 0 0 0 var(--left_gap);
}
.cnt li {
	margin: var(--text_gap) 0;
}
.cnt h1:first-child,
.cnt h2:first-child,
.cnt h3:first-child,
.cnt h4:first-child,
.cnt p:first-child,
.cnt ul:first-child,
.cnt ol:first-child,
.cnt li:first-child,
.p:first-child {
	margin-top: 0 !important;
}
.cnt h1:last-child,
.cnt h2:last-child,
.cnt h3:last-child,
.cnt h4:last-child,
.cnt p:last-child,
.cnt ul:last-child,
.cnt ol:last-child,
.cnt li:last-child,
.p:last-child {
	margin-bottom: 0 !important;
}
.props {
	list-style-type: none !important;
}
.info > .props {
	margin-left: 0;
}
.props.api > li {
	margin: calc(var(--text_gap) * 3) 0;
}
.props-marker {
	margin: 0 0 5px calc(var(--left_gap) * -1);
}
.props-marker .cd:first-of-type {
	font-weight: bold;
}
.props-marker + p {
	margin-top: 0;
}
/*
.props .props .props-marker .cd:first-of-type {
	font-weight: normal;
}*/
.cnt .mwex {
	margin: var(--gap) 0;
}
.cnt .mwex-cnt {
	margin-right: calc(-100vw + var(--menu_width) + var(--cnt_width) + var(--gap) * 3);
	grid-template-columns:
		auto	auto	1fr;
}
.cnt .mwex-cnt-code {
	width: var(--cnt_width);
}

.cd,
.mwex-cnt-code {
	font-size: 1.2em;
}


.sub_menu.scrolling {
	position: fixed;
	top: 10px;
	bottom: 10px;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: calc(var(--menu_width) - 6px);
	padding-left: var(--gap);
	padding-top: 10px;
	padding-right: 5px;
	background: #fff;
}
#h_menu_doc .sub_menu {
	display: none;
}

@media screen and (max-width: 1024px) {
	.cnt .mwex-cnt {
		margin-right: 0;
		grid-template-columns:
			1fr	auto	1fr;
	}
}
@media screen and (max-width: 640px) {
	.m-2col {
		grid-template-columns:
			1fr;
		gap: var(--gap);
		padding-left: 0;
	}
	.m-2col-col1 {
		display: none;
	}
	#h_menu_doc .sub_menu {
		display: block;
	}
	.code,
	.cnt .mwex-cnt-code {
		width: calc(100vw - 60px);
		box-sizing: border-box;
	}
}
