.m {
	flex-grow: 1;
}
.m > .w {
	height: 100%;
}

.m-2col {
	display: grid;
	grid-template-columns:
		var(--menu_width)	minmax(0, var(--cnt_width));
	height: 100%;
	gap: var(--gap);
	padding-left: var(--gap);
}
.m-2col-col1 {
	border-right: solid 1px #ccc;
}
.m-2col-col2 {
/*
	padding-left: calc(var(--menu_width) + var(--gap) * 2);
	width: var(--cnt_width);*/
}

.sub_menu {
	padding-right: 10px;
	font-size: 14px;
	line-height: 1.5em;
}
.sub_menu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sub_menu ul ul {
	padding: 0 0 0 7px;
	list-style: none;
}
.sub_menu li {
	padding: 7px 0;
/*
	font-size: 12px;
	line-height: 16px;*/
}
.h-menu a,
.sub_menu a {
	display: inline-block;
	margin: -10px;
	padding: 10px;
	color: blue;
}
.h-menu a[href],
.sub_menu a[href] {
	color: inherit;
}
.sub_menu .descr {
	display: block;
	font-size: 12px;
	line-height: 1em;
	color: #777;
}


.cnt h1 {
	margin: 0.67em 0;
}
.cnt h2 {
	margin: 1.1em 0 0.87em 0;
}
.cnt p {
	margin: 1em 0;
}
/*
.cnt h1,
.cnt h2,
.cnt h3,
.cnt h4,
.cnt p {
}*/
.cnt ul {
	--left_gap: 40px;
	display: block;
	list-style-type: disc;
	margin: 1em 0;
	padding: 0 0 0 var(--left_gap);
}
.cnt li {
	margin: var(--text_gap) 0;
}
.cnt h1:first-child,
.cnt h2:first-child,
.cnt h3:first-child,
.cnt h4:first-child,
.cnt p:first-child,
.cnt ul:first-child,
.cnt ol:first-child,
.cnt li:first-child {
	margin-top: 0;
}
.cnt h1:last-child,
.cnt h2:last-child,
.cnt h3:last-child,
.cnt h4:last-child,
.cnt p:last-child,
.cnt ul:last-child,
.cnt ol:last-child,
.cnt li:last-child {
	margin-bottom: 0;
}
.cnt .props {
	list-style-type: none;
}
.props-marker {
	margin: 0 0 5px calc(var(--left_gap) * -1);
}
.props-marker .cd:first-of-type {
	font-weight: bold;
}
.props-marker + p {
	margin-top: 0;
}

.cnt .mwex {
	margin: var(--gap) 0;
	margin-right: calc(-100vw + var(--menu_width) + var(--cnt_width) + var(--gap) * 3);
	grid-template-columns:
		auto	auto	1fr;
}
.cnt .mwex-code {
	width: var(--cnt_width);
}
@media screen and (max-width: 1024px) {
	.cnt .mwex {
		margin-right: 0;
		grid-template-columns:
			1fr	auto	1fr;
	}
}
