@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: white;
}
html {
	font-family: arial, sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	color: #222;
}
body {
	--gap: 30px;
	--gap2: 15px;
	--text_gap: 1em;
        --menu_width: 150px;
        --cnt_width: 680px;

	display: flex;
	flex-direction: column;
}
.w {
/*
	margin: 0 auto;
	max-width: 920px;*/
	box-sizing: border-box;
	padding: var(--gap);
}
a[href] {
	text-decoration: none;
	color: blue;
}
a:visited {
	color: blue;
}
a[href]:hover,
a.no_href:hover,
.cnt a[href]:hover {
/*
	text-decoration: underline;*/
	color: blue;
}
a.no_href {
       	color: inherit;
	cursor: pointer;
}
@media screen and (max-width: 1024px) {
	body {
		--cnt_width: auto;
	}
}